{% extends "base.html" %}

{% block main %}
<div class = 'header_graph'>
    <h3> Scatter Plot (sepal length, petal length) </h3>
</div>

<!-- Load d3.js -->
<!-- Create a div where the graph will take place -->

<div class = "my_dataviz">
<div id="my_dataviz"></div>
</div>

<div class = "legend">
  <svg id="legend" height=250 width=250></svg>
</div>


<script>
// select the svg area
var svg = d3.select("#legend")
// Handmade legend
svg.append("circle").attr("cx",100).attr("cy",130).attr("r", 6).style("fill", "#440154ff")
svg.append("circle").attr("cx",100).attr("cy",160).attr("r", 6).style("fill", "#21908dff")
svg.append("circle").attr("cx",100).attr("cy",190).attr("r", 6).style("fill", "#fde725ff")
svg.append("text").attr("x", 120).attr("y", 130).text("Iris-setosa").style("font-size", "15px").attr("alignment-baseline","middle")
svg.append("text").attr("x", 120).attr("y", 160).text("Iris-versicolor").style("font-size", "15px").attr("alignment-baseline","middle")
svg.append("text").attr("x", 120).attr("y", 190).text("Iris-virginica").style("font-size", "15px").attr("alignment-baseline","middle")

// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 40, left: 50},
    width = 520 - margin.left - margin.right,
    height = 520 - margin.top - margin.bottom;

// append the svg object to the body of the page
var Svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")")



//Read the data
d3.csv("https://raw.githubusercontent.com/HaJunYoo/iris-development/main/iris.csv", function(data) {

  // Add X axis
  var x = d3.scaleLinear()
    .domain([4*0.95, 8*1.001])
    .range([ 0, width ])
  Svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickSize(-height*1.3).ticks(10))
    .select(".domain").remove()

  // Add Y axis
  var y = d3.scaleLinear()
    .domain([-0.001, 9*1.01])
    .range([ height, 0])
    .nice()
  Svg.append("g")
    .call(d3.axisLeft(y).tickSize(-width*1.3).ticks(7))
    .select(".domain").remove()

  // Customization
  Svg.selectAll(".tick line").attr("stroke", "#EBEBEB")

  // Add X axis label:
  Svg.append("text")
      .attr("text-anchor", "end")
      .attr("x", width)
      .attr("y", height + margin.top + 20)
      .text("Sepal Length");

  // Y axis label:
  Svg.append("text")
      .attr("text-anchor", "end")
      .attr("transform", "rotate(-90)")
      .attr("y", -margin.left+20)
      .attr("x", -margin.top)
      .text("Petal Length")

  // Color scale: give me a specie name, I return a color
  var color = d3.scaleOrdinal()
    .domain(["Iris-setosa", "Iris-versicolor", "Iris-virginica" ])
    .range([ "#440154ff", "#21908dff", "#fde725ff"])

  // Add dots
  Svg.append('g')
    .selectAll("dot")
    .data(data)
    .enter()
    .append("circle")
      .attr("cx", function (d) { return x(d.sepal_length); } )
      .attr("cy", function (d) { return y(d.petal_length); } )
      .attr("r", 5)
      .style("fill", function (d) { return color(d.classification) } )

})

</script>




{% endblock %}